@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

body {
  background-color: #892b64;
}

.bg-nav {
  background-color: #1780a1;
}

.showbp {
  border: 1px solid rebeccapurple;
}

.showbr {
  border: 1px solid red;
}

.showbg {
  border: 1px solid green;
}

.container-vh {
  height: 75vh;
  border-radius: 15px;
  background-color: #2e6f95;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

/*------ Sidebar ------*/

.bg-sidebar-right {
  background-color: #455e89;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid #a01a58;
}

.sidebar-body ul {
  padding-left: 0px;
  list-style: none;
}

.sidebar-body ul li {
  display: flex;
  justify-content: space-between;
}

/*------ ChatBox ------*/

.chatbox-body {
  overflow-y: scroll;
}

.emoticon {
  height: 28px;
  vertical-align: middle;
}

/* 
body {
  background-color: #12081f;
}

header h1 {
  font-family: "Reggae One", cursive;
  color: #eee;
  text-shadow: 2px 2px #ff0000;
}

main {
  height: 70vh;
  border: 1px solid red;
  overflow-y: auto;
  color: #eee;
} */